{% extends 'base.html' %}
{% load static %}


{% block title %}

Checkout

{% endblock title %}

{% block content %}
		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<ul class="main-nav nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="store">Store</a></li>
							<li><a href="category">Categories</a></li>
							<li><a href="laptops">Laptops</a></li>
							<li><a href="smartphones">Smartphones</a></li>
							<li><a href="cameras">Cameras</a></li>
							<li><a href="accessories">Accessories</a></li>
						</ul>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">

						<div class="section-title">
							<h3 class="title">Order Notes</h3>
						</div>
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							
							<h3 class="title">{{user.first_name}}'s Order</h3>
							
						</div>
						
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>QUANTITY</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							
							<div class="order-products">
								{% for cartItems in cartItems %}
								<div class="order-col">
									<div>{{cartItems.product.name}}</div>
									<div class="center">{{cartItems.quantity}} </div>
									<div>L.E {{cartItems.totalOrderItemPrice}}</div>
								</div>
								{% endfor %}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							{% for cart in cart %}
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">L.E {{total}}</strong></div>
							</div>
							{% endfor %}
						</div>
						
						
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						<form method = "POST" enctype = 'multipart/form-data'>
							{% csrf_token %}
							{{ form }}
				
							<input type="submit" value="Place order" class="primary-btn order-submit">
						</form>
						
					</div>
					
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	{% endblock content %}
