

      {% if user.is_authenticated %}      
      <li class="nav-item">
        <a class="nav-link" href="/LogOut">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/signin">Login</a>
      </li>

      {% endif %}

      <br><br>
        FirstName : {{ form.FirstName }}
        <br><br>
        LastName : {{ form.LastName }}
        <br><br>
        username : {{ user.username }}

    </ul>
  </div>
</nav>